body {
	font-family: Arial;
	background: lightyellow;
	text-align: center;
}

div.container {
	width: min(800px, 90%);
	margin: 0auto;
	padding: 1rem;
	background: rgba(255, 235, 235, 0.9);
	text-align: left;
}
